<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do</title>
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../static/todo.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h3>ToDo</h3>
        </div>
        <div class="todo jumbotron">
        {% block content %}
        {% endblock %}
        </div>
        <div class="footer">
            <p>&copy;build by luna</p>
        </div>
    </div>
</body>
</html>